<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css" />
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length <= 0 ) { %>
        <h1>Noting there!!!</h1>
        <% } else { %>
        <ul class="orders">
            <% orders.forEach(order =>{ %>
            <li class="orders__item">
                <h1>Order Id# <%= order._id %></h1>
                <ul class="orders__products">
                    <% let totalPrice = 0 ; %>
                    <% order.products.forEach(product => { %>
                    <li class="orders__products-item"><%= product.productData.title %>(<%= product.quantity %>) <span
                            style="float:right">Price:
                            <%= product.productData.price %></span></li>
                    <% totalPrice += (product.productData.price * product.quantity) %>
                    <% }) %>
                </ul>
                <span style="float:right">Total Price:<%= parseFloat(totalPrice).toFixed(2) %></span>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>